@import url('https://fonts.googleapis.com/css?family=Roboto');

@import "_reset.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

header {
  height: 50px;
  background: rgba(100, 102, 31, 0.85);
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0;

  .line {
    margin: 15px 0;
  }
}


.description {
  padding: 20px 0 0;
}

.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.spacer {
  min-height: 300px;
  background: #60aeff;
}

.normal-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.parallax-color-bar-section {
  min-height: 600px;
  position: relative;
}

.parallax-color-bar-section-background {
  filter: grayscale(100%);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}